<!DOCTYPE html>
<html>
<head>
    <title>Cambiar contraseña - Planify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-wrapper">

    <div class="logo">
        Planify
    </div>

    <div class="login-card">

        <h2>Primer inicio de sesión</h2>
        <p class="subtitle">Debes cambiar tu contraseña para continuar</p>

        <form method="POST">

            <label>Nueva contraseña</label>
            <input type="password" name="password" required>

            <button type="submit">Guardar contraseña</button>

        </form>

    </div>

    <div class="login-footer">
        © 2026 Planify
    </div>

</div>

</body>
</html>
