{% extends 'empleado/layout.html' %}

{% block title %}Mi perfil{% endblock %}

{% block content %}

<div class="empleado-card perfil-section">
    <h2>Mí perfil</h2>

    <form method="POST">
        <label>Nombre</label>
        <input type="text" name="nombre" value="{{ usuario['nombre'] }}" required>

        <label>Email</label>
        <input type="email" value="{{ usuario['email'] }}" disabled>

        <label>Puesto</label>
        <input type="text" value="{{ empleado['puesto'] }}" disabled>

        <button type="submit">Guardar cambios</button>
    </form>
</div>

{% endblock %}