{% extends "admin/layout.html" %}

{% block content %}

<h2>Lista de empleados</h2>

<table>
    <tr>
        <th>Nombre Completo</th>
        <th>Email</th>
        <th>Puesto</th>
        <th>Acciones</th>
    </tr>

    {% for empleado in empleados %}
    <tr>
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.email }}</td>
        <td>{{ empleado.puesto }}</td>
        <td class="action-links">
            <a href="{{ url_for('editar_empleado', id=empleado.id) }}">Editar</a>
            <a href="{{ url_for('eliminar_empleado', id=empleado.id) }}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}